-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: bustanu1_ujicoba
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Dumping data for table `email_confirmations`
--

LOCK TABLES `email_confirmations` WRITE;
/*!40000 ALTER TABLE `email_confirmations` DISABLE KEYS */;
/*!40000 ALTER TABLE `email_confirmations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `epi_email_campaigns`
--

LOCK TABLES `epi_email_campaigns` WRITE;
/*!40000 ALTER TABLE `epi_email_campaigns` DISABLE KEYS */;
/*!40000 ALTER TABLE `epi_email_campaigns` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `epi_email_stats`
--

LOCK TABLES `epi_email_stats` WRITE;
/*!40000 ALTER TABLE `epi_email_stats` DISABLE KEYS */;
/*!40000 ALTER TABLE `epi_email_stats` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `epi_error_logs`
--

LOCK TABLES `epi_error_logs` WRITE;
/*!40000 ALTER TABLE `epi_error_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `epi_error_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `epi_event_schedule_categories`
--

LOCK TABLES `epi_event_schedule_categories` WRITE;
/*!40000 ALTER TABLE `epi_event_schedule_categories` DISABLE KEYS */;
/*!40000 ALTER TABLE `epi_event_schedule_categories` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `epi_event_schedule_registrations`
--

LOCK TABLES `epi_event_schedule_registrations` WRITE;
/*!40000 ALTER TABLE `epi_event_schedule_registrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `epi_event_schedule_registrations` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`127.0.0.1`*/ /*!50003 TRIGGER `update_event_participants_after_registration` 
AFTER INSERT ON `epi_event_schedule_registrations`
FOR EACH ROW
BEGIN
    UPDATE epi_event_schedules 
    SET current_participants = (
        SELECT COUNT(*) 
        FROM epi_event_schedule_registrations 
        WHERE event_id = NEW.event_id AND status = 'registered'
    )
    WHERE id = NEW.event_id;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`127.0.0.1`*/ /*!50003 TRIGGER `update_event_participants_after_update` 
AFTER UPDATE ON `epi_event_schedule_registrations`
FOR EACH ROW
BEGIN
    UPDATE epi_event_schedules 
    SET current_participants = (
        SELECT COUNT(*) 
        FROM epi_event_schedule_registrations 
        WHERE event_id = NEW.event_id AND status = 'registered'
    )
    WHERE id = NEW.event_id;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`127.0.0.1`*/ /*!50003 TRIGGER `update_event_participants_after_delete` 
AFTER DELETE ON `epi_event_schedule_registrations`
FOR EACH ROW
BEGIN
    UPDATE epi_event_schedules 
    SET current_participants = (
        SELECT COUNT(*) 
        FROM epi_event_schedule_registrations 
        WHERE event_id = OLD.event_id AND status = 'registered'
    )
    WHERE id = OLD.event_id;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Dumping data for table `epi_event_schedules`
--

LOCK TABLES `epi_event_schedules` WRITE;
/*!40000 ALTER TABLE `epi_event_schedules` DISABLE KEYS */;
/*!40000 ALTER TABLE `epi_event_schedules` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `epi_landing_page_analytics`
--

LOCK TABLES `epi_landing_page_analytics` WRITE;
/*!40000 ALTER TABLE `epi_landing_page_analytics` DISABLE KEYS */;
/*!40000 ALTER TABLE `epi_landing_page_analytics` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `epi_landing_page_backups`
--

LOCK TABLES `epi_landing_page_backups` WRITE;
/*!40000 ALTER TABLE `epi_landing_page_backups` DISABLE KEYS */;
/*!40000 ALTER TABLE `epi_landing_page_backups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `epi_landing_page_templates`
--

LOCK TABLES `epi_landing_page_templates` WRITE;
/*!40000 ALTER TABLE `epi_landing_page_templates` DISABLE KEYS */;
/*!40000 ALTER TABLE `epi_landing_page_templates` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `epi_landing_page_visits`
--

LOCK TABLES `epi_landing_page_visits` WRITE;
/*!40000 ALTER TABLE `epi_landing_page_visits` DISABLE KEYS */;
/*!40000 ALTER TABLE `epi_landing_page_visits` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER tr_update_analytics_on_visit
AFTER INSERT ON epi_landing_page_visits
FOR EACH ROW
BEGIN
    INSERT INTO epi_landing_page_analytics (landing_page_id, date, views, unique_views, conversions)
    VALUES (NEW.landing_page_id, DATE(NEW.created_at), 1, 1, NEW.converted)
    ON DUPLICATE KEY UPDATE
        views = views + 1,
        unique_views = unique_views + (SELECT COUNT(DISTINCT visitor_ip) FROM epi_landing_page_visits WHERE landing_page_id = NEW.landing_page_id AND DATE(created_at) = DATE(NEW.created_at)),
        conversions = conversions + NEW.converted;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Dumping data for table `epi_landing_pages`
--

LOCK TABLES `epi_landing_pages` WRITE;
/*!40000 ALTER TABLE `epi_landing_pages` DISABLE KEYS */;
/*!40000 ALTER TABLE `epi_landing_pages` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `epi_mailketing_lists`
--

LOCK TABLES `epi_mailketing_lists` WRITE;
/*!40000 ALTER TABLE `epi_mailketing_lists` DISABLE KEYS */;
/*!40000 ALTER TABLE `epi_mailketing_lists` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `epi_mailketing_logs`
--

LOCK TABLES `epi_mailketing_logs` WRITE;
/*!40000 ALTER TABLE `epi_mailketing_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `epi_mailketing_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `epi_metrics`
--

LOCK TABLES `epi_metrics` WRITE;
/*!40000 ALTER TABLE `epi_metrics` DISABLE KEYS */;
/*!40000 ALTER TABLE `epi_metrics` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `epi_performance_logs`
--

LOCK TABLES `epi_performance_logs` WRITE;
/*!40000 ALTER TABLE `epi_performance_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `epi_performance_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `epi_rate_limits`
--

LOCK TABLES `epi_rate_limits` WRITE;
/*!40000 ALTER TABLE `epi_rate_limits` DISABLE KEYS */;
/*!40000 ALTER TABLE `epi_rate_limits` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `epi_referral_validations`
--

LOCK TABLES `epi_referral_validations` WRITE;
/*!40000 ALTER TABLE `epi_referral_validations` DISABLE KEYS */;
/*!40000 ALTER TABLE `epi_referral_validations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `epi_registration_errors`
--

LOCK TABLES `epi_registration_errors` WRITE;
/*!40000 ALTER TABLE `epi_registration_errors` DISABLE KEYS */;
/*!40000 ALTER TABLE `epi_registration_errors` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `epi_registration_metrics`
--

LOCK TABLES `epi_registration_metrics` WRITE;
/*!40000 ALTER TABLE `epi_registration_metrics` DISABLE KEYS */;
/*!40000 ALTER TABLE `epi_registration_metrics` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `epic_activity_log`
--

LOCK TABLES `epic_activity_log` WRITE;
/*!40000 ALTER TABLE `epic_activity_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `epic_activity_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `epic_affiliate_links`
--

LOCK TABLES `epic_affiliate_links` WRITE;
/*!40000 ALTER TABLE `epic_affiliate_links` DISABLE KEYS */;
/*!40000 ALTER TABLE `epic_affiliate_links` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `epic_analytics`
--

LOCK TABLES `epic_analytics` WRITE;
/*!40000 ALTER TABLE `epic_analytics` DISABLE KEYS */;
/*!40000 ALTER TABLE `epic_analytics` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `epic_articles`
--

LOCK TABLES `epic_articles` WRITE;
/*!40000 ALTER TABLE `epic_articles` DISABLE KEYS */;
/*!40000 ALTER TABLE `epic_articles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `epic_blog_article_stats`
--

LOCK TABLES `epic_blog_article_stats` WRITE;
/*!40000 ALTER TABLE `epic_blog_article_stats` DISABLE KEYS */;
INSERT INTO `epic_blog_article_stats` VALUES (1,1,'2025-09-16',150,120,5,2,500000.00,0,0.00,0,'2025-09-16 02:38:29','2025-09-16 02:38:29');
/*!40000 ALTER TABLE `epic_blog_article_stats` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `epic_blog_referral_tracking`
--

LOCK TABLES `epic_blog_referral_tracking` WRITE;
/*!40000 ALTER TABLE `epic_blog_referral_tracking` DISABLE KEYS */;
/*!40000 ALTER TABLE `epic_blog_referral_tracking` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `epic_blog_social_shares`
--

LOCK TABLES `epic_blog_social_shares` WRITE;
/*!40000 ALTER TABLE `epic_blog_social_shares` DISABLE KEYS */;
/*!40000 ALTER TABLE `epic_blog_social_shares` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `epic_categories`
--

LOCK TABLES `epic_categories` WRITE;
/*!40000 ALTER TABLE `epic_categories` DISABLE KEYS */;
/*!40000 ALTER TABLE `epic_categories` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `epic_commission_rules`
--

LOCK TABLES `epic_commission_rules` WRITE;
/*!40000 ALTER TABLE `epic_commission_rules` DISABLE KEYS */;
/*!40000 ALTER TABLE `epic_commission_rules` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `epic_counter_history`
--

LOCK TABLES `epic_counter_history` WRITE;
/*!40000 ALTER TABLE `epic_counter_history` DISABLE KEYS */;
/*!40000 ALTER TABLE `epic_counter_history` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `epic_email_confirmations`
--

LOCK TABLES `epic_email_confirmations` WRITE;
/*!40000 ALTER TABLE `epic_email_confirmations` DISABLE KEYS */;
/*!40000 ALTER TABLE `epic_email_confirmations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `epic_epi_error_logs`
--

LOCK TABLES `epic_epi_error_logs` WRITE;
/*!40000 ALTER TABLE `epic_epi_error_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `epic_epi_error_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `epic_epi_performance_logs`
--

LOCK TABLES `epic_epi_performance_logs` WRITE;
/*!40000 ALTER TABLE `epic_epi_performance_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `epic_epi_performance_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `epic_epi_rate_limits`
--

LOCK TABLES `epic_epi_rate_limits` WRITE;
/*!40000 ALTER TABLE `epic_epi_rate_limits` DISABLE KEYS */;
/*!40000 ALTER TABLE `epic_epi_rate_limits` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `epic_epi_registration_metrics`
--

LOCK TABLES `epic_epi_registration_metrics` WRITE;
/*!40000 ALTER TABLE `epic_epi_registration_metrics` DISABLE KEYS */;
/*!40000 ALTER TABLE `epic_epi_registration_metrics` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `epic_epis_accounts`
--

LOCK TABLES `epic_epis_accounts` WRITE;
/*!40000 ALTER TABLE `epic_epis_accounts` DISABLE KEYS */;
/*!40000 ALTER TABLE `epic_epis_accounts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `epic_epis_networks`
--

LOCK TABLES `epic_epis_networks` WRITE;
/*!40000 ALTER TABLE `epic_epis_networks` DISABLE KEYS */;
INSERT INTO `epic_epis_networks` VALUES (1,5,3,'direct',NULL,'2025-09-19 11:34:14',10.00,0.00,'active',NULL,'2025-09-19 11:34:14','2025-09-19 11:34:14');
/*!40000 ALTER TABLE `epic_epis_networks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `epic_event_categories`
--

LOCK TABLES `epic_event_categories` WRITE;
/*!40000 ALTER TABLE `epic_event_categories` DISABLE KEYS */;
/*!40000 ALTER TABLE `epic_event_categories` ENABLE KEYS */;
UNLOCK TABLES;
